$navbar-item-hover-background-color: hsl(180, 68%, 46%);
$navbar-dropdown-item-hover-background-color: hsl(180, 68%, 46%);
$hero-body-padding-medium: 3rem;
$hero-body-padding-small: 1.625rem;

@import "~bulma/bulma";

@include from($navbar-breakpoint) {
  .bd-navbar {
    .navbar-menu,
    .navbar-start,
    .navbar-end {
      align-items: center;
    }
  }

  .bd-navbar-mobile-icon {
    display: none;
  }

  .bd-navbar-dropdown {
    left: auto;
    right: 0;
    width: 16rem;
    z-index: 200;

    .navbar-item {
      white-space: normal;
    }
  }
}

@include until($fullhd) {
  .bd-navbar-icon {
    display: none;
  }
}

.has-border-1 {
  @include tablet {
    border-style: solid;
    border-width: 1px;
    &-light {
      border-color: hsl(217, 71%, 53%);
    }
    &-dark {
      border-color: hsl(0, 0%, 14%);
    }
  }
}
